body {
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    color: purple;
}

.user-card {
    background-color: seagreen;
    color: white;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    width: 200px;
}

.success {
    color: hsl(100,50%,50%)
}

.error-message {
    color: red
}